body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Card {
  float: left;
  width: 2rem;
  height: 3rem;
  line-height: 3rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  text-align: center;
}

.Card--flipped {
  background-color: #acf9f9;
}

.Card--matched {
   background-color: blue;
}

.Card--back{
  background-color: #00ccd6;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 15px 15px;
}

.grid-row:after {
  clear: both;
  content: '';
  display: table;
}

.status-text {
  display: inline;
  margin-left: 1rem;
}

.status-score {
  width: 50%;
  padding: 10;
  text-align: center;
  margin: 1rem;
}

.game-title {
  width: 50%;
  background: linear-gradient(178deg, rgba(19,104,249) 0%,rgba(242,255,255) 100%);
  padding: 10px;
  text-align: center;
  border-radius: 30em;
  border: 2px solid black;
  margin: 1rem;
}

.custom-select, .new-game-button {
  margin-left: 1rem;
}
