body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Card {
  float: left;
  width: 4rem;
  height: 6rem;
  line-height: 6rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  text-align: center;
}

.Card--flipped {
  background-color: gray;
}

.Card--matched {
   background-color: green;
}

.grid-row:after {
  clear: both;
  content: '';
  display: table;
}
